
<section class="containerPokemon">

  <section class="containerTituloPokemon">
    <h3 class="nomePokemon">Bulbasaur</h3>
    <span class="numeroPokemon">#001</span>

  </section>

  <section class="containerImagem">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg" alt="">

  </section>

  <section class="containerAtributos">
    <span class="tipoPokemonSpan">Grass</span>
    <span class="tipoPokemonSpan">Poison</span>

  </section>
  
</section>