nav {
  /* border: solid green; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.containerNave {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: .5rem;
  
}

a, li  {
  text-decoration: none;
  list-style-type: none;
  padding: .4rem;
  font-weight: 450;
}

hr {
  border-color: rgba(117, 108, 97, 0.767);
}

.linkAtivado {
  background-color: rgba(165, 196, 185, 0.329);
  font-weight: bold;
  border-radius: .275rem;
}