<nav>
  <section class="containerNave">
    <li>
      <a 
        [routerLink]="['/']" 
        [routerLinkActive]="['linkAtivado']"
        [routerLinkActiveOptions]="{exact: true}"
      >HOME</a>  
    </li>

    <hr>

    <li>
      <a 
        [routerLink]="['/portifolio']" 
        [routerLinkActive]="['linkAtivado']"
        [routerLinkActiveOptions]="{exact: true}"
      >PORTIFOLIO</a>
    </li>

    <hr>

    <li>
      <a 
        [routerLink]="['/portifolio/2']" 
        [routerLinkActive]="['linkAtivado']"
        [routerLinkActiveOptions]="{exact: true}"
      >PARAMETROS</a>
    </li>
  </section>
</nav>
