nav {
  /* border: solid green; */
  display: flex;
  flex-direction: row;
}

.containerNave {
  display: flex;
  flex-direction: row;
  padding: .5rem;
  text-decoration: none;
  list-style-type: none;
  
}

li {
  padding: .5rem;
}