<h1>Diretivas do Angular</h1>

<app-card nomeCard="Eu Sou o Card 1"></app-card>


<!-- ngIf simples -->
<app-card 
  nomeCard="Eu Sou o ngIf simples" 
  *ngIf="true"
></app-card>


<!-- ngIf com Data Biding -->
<app-card
  nomeCard="Eu sou o ngIf com Data Biding"
  *ngIf="isAliveCard"
></app-card>


<!-- ngIf com ng template -->
<ng-template [ngIf]="isAliveNgTemplate">
  <app-card
    nomeCard="Eu sou um Bloco secreto do ng Template"

  >
  </app-card>
</ng-template>

<!-- Usando ngFor -->
<app-lista nomeCard="Lista usando ngFor"></app-lista>


<!-- ngSwitch -->
<app-menu-usuarios 
nomeCard="Usuario Comum"
tipoUsuario="comum"></app-menu-usuarios>

<app-menu-usuarios 
nomeCard="Usuario Admin"
tipoUsuario="admin"></app-menu-usuarios>

<app-menu-usuarios 
nomeCard="Super Usuario"
tipoUsuario="super"></app-menu-usuarios>


<router-outlet></router-outlet>