* {
  background-color: rgb(218, 250, 215);
  margin: .5rem;
}

section {
  padding: .5rem;
  border-radius: .425rem;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}


/* Estilo dos botões */
button {
  padding: .5rem;
  border-radius: .325rem;
  border: none;
  color: rgb(244, 250, 255);
  font-weight: bold;
}

.adicionar {
  background-color: rgb(50, 194, 31);
  transition: .6s;
}

.adicionar:hover {
  background-color: rgb(38, 150, 24);
}

.remover {
  background-color: rgb(219, 78, 78);
  transition: .6s;
}

.remover:hover {
  background-color: rgb(204, 41, 41);
}

.lixeira {
  background-color: rgba(240, 240, 240, 0.63);
  border: .1rem solid;
  padding: .3rem;
}

.lixeira:hover {
  background-color: rgba(224, 212, 212, 0.63);
  transition: .4s;
}